{% extends 'partials/base.html.twig' %}
{% block title %}Payslip{% endblock %}

{% block content %}

            {{ component('breadcrumb', { pagetitle: "Employee's Payroll", title: 'Payslip' }) }}
                {# {{ dump(payroll) }} #}
                <div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12">
                    <div class="xl:col-span-12">
                        <div class="card print:shadow-none print:border-none">
                            <div class="card-body print:hidden">
                                <div class="flex flex-col gap-5 md:items-center md:flex-row">
                                    {# <div class="grow">
                                        <h6 class="mb-1 text-16">#TW15090257</h6>
                                        <ul class="flex items-center gap-3">
                                            <li class="text-slate-500">Create: 10 July, 2023</li>
                                            <li class="text-slate-500">Due: 10 July, 2023</li>
                                        </ul>
                                    </div> #}
                                    <div class="flex items-center gap-2 shrink-0">
                                        {# <button type="button" class="text-white bg-purple-500 border-purple-500 btn hover:text-white hover:bg-purple-600 hover:border-purple-600 focus:text-white focus:bg-purple-600 focus:border-purple-600 focus:ring focus:ring-purple-100 active:text-white active:bg-purple-600 active:border-purple-600 active:ring active:ring-purple-100 dark:ring-purple-400/10">Download</button> #}
                                        <button onclick="window.print()" type="button" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><i data-lucide="save" class="inline-block size-4 ltr:mr-1 rtl:ml-1"></i> <span class="align-middle">Save & Print</span></button>
                                        {# <div class="relative dropdown">
                                            <button class="flex items-center justify-center w-[38.39px] h-[38.39px] dropdown-toggle p-0 text-slate-500 btn bg-slate-100 hover:text-white hover:bg-slate-600 focus:text-white focus:bg-slate-600 focus:ring focus:ring-slate-100 active:text-white active:bg-slate-600 active:ring active:ring-slate-100 dark:bg-slate-500/20 dark:text-slate-400 dark:hover:bg-slate-500 dark:hover:text-white dark:focus:bg-slate-500 dark:focus:text-white dark:active:bg-slate-500 dark:active:text-white dark:ring-slate-400/20" id="categoryNotes1" data-bs-toggle="dropdown"><i data-lucide="more-horizontal" class="size-4"></i></button>
                                            <ul class="absolute z-50 hidden py-2 mt-1 ltr:text-left rtl:text-right list-none bg-white rounded-md shadow-md dropdown-menu min-w-[10rem] dark:bg-zink-600" aria-labelledby="categoryNotes1">
                                                <li>
                                                    <a class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="apps-invoice-add-new"><i data-lucide="file-edit" class="inline-block size-3 mr-1"></i> <span class="align-middle">Edit</span></a>
                                                </li>
                                                <li>
                                                    <a data-modal-target="deleteModal" class="block px-4 py-1.5 text-base transition-all duration-200 ease-linear text-slate-600 dropdown-item hover:bg-slate-100 hover:text-slate-500 focus:bg-slate-100 focus:text-slate-500 dark:text-zink-100 dark:hover:bg-zink-500 dark:hover:text-zink-200 dark:focus:bg-zink-500 dark:focus:text-zink-200" href="#!"><i data-lucide="trash-2" class="inline-block size-3 mr-1"></i> <span class="align-middle">Delete</span></a>
                                                </li>
                                            </ul>
                                        </div> #}
                                    </div>
                                </div>
                            </div>
                            <div class="!pt-0 card-body">
                                <div class="p-5 border rounded-md md:p-8 border-slate-200 dark:border-zink-500 print:p-0">
                                    <div class="grid grid-cols-1 gap-5 xl:grid-cols-12 pl-5">
                                        <div class="text-center xl:col-span-8 ltr:xl:text-left rtl:xl:text-right">
                                            <p class="mb-1 text-slate-500 dark:text-zink-200">Date Covered: <span class="font-semibold">{{payroll.date_start|date('m-d-Y')}} TO {{payroll.date_end|date('m-d-Y')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zink-200"><span class="font-semibold">WRLD CAPITAL HOLDINGS INC.</span></p>
                                            <p class="mb-1 truncate text-slate-500 dark:text-zink-200"><span class="font-semibold">{{payroll.employee_payroll_profile.emp_code}} {{payroll.employee_payroll_profile.emp_name}}</span></p>
                                            <p class="text-slate-500 dark:text-zink-200">Daily Rate: <span class="font-semibold"> {{payroll.employee_payroll_profile.daily_rate}} </span></p>
                                        </div><!--end col-->
                                    </div><!--end grid-->

                                    <div class="grid grid-cols-1 gap-5 mt-8 md:grid-cols-3">
                                        <div class="pl-5">
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200"><span class="font-semibold"></span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">SSS : <span class="font-semibold">{{payroll.employee_payroll_profile.sss_num}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">PhilHealth : <span class="font-semibold">{{payroll.employee_payroll_profile.philhealth_num}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Pag-Ibig : <span class="font-semibold">{{payroll.employee_payroll_profile.pagibig_num}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">TIN: <span class="font-semibold">{{payroll.employee_payroll_profile.tax_num}}</span></p>
                                        </div>
                                        <div>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200"><span class="font-semibold"></span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">SSS: <span class="font-semibold">{{payroll.sss_share|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">PhilHealth : <span class="font-semibold">{{payroll.philhealth_share|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Pag-Ibig : <span class="font-semibold">{{payroll.hdmf_contribution|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">With. Tax : <span class="font-semibold">{{payroll.tax_contribution|number_format(2, '.', ',')}}</span></p>
                                        </div>
                                        <div>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200"><span class="font-semibold">Loan Balance</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Cash Advance: <span class="font-semibold">{{payroll.cash_advance|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">SSS Calamity Loan : <span class="font-semibold">{{payroll.sss_calamity_loan|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">SSS Loan: <span class="font-semibold">{{payroll.sss_loan|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">HDMF Loan: <span class="font-semibold">{{payroll.hdmf_loan|number_format(2, '.', ',')}}</span></p>
                                        </div>
                                    </div>

                                    <div class="grid grid-cols-1 gap-5 mt-8 md:grid-cols-3">
                                        <div class="my-5 pl-5">
                                            <p class="mb-2 text-sm uppercase text-slate-500 dark:text-zink-200"><h6>Year To Date Details</h6></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD Total Gross Income: <span class="font-semibold">{{payroll.year_to_date.ytdGrossIncome|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD SSS: <span class="font-semibold">{{payroll.year_to_date.ytdSSS|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD PhilHeath: <span class="font-semibold">{{payroll.year_to_date.ytdPhilHealth|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD PagIbig: <span class="font-semibold">{{payroll.year_to_date.ytdPagIbig|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD Tax With.: <span class="font-semibold">{{payroll.year_to_date.ytdTax|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">YTD Net Pay: <span class="font-semibold"><b>{{payroll.year_to_date.ytdNetPay|number_format(2, '.', ',')}}</b></span></p>
                                        </div>
                                        <div class="pl-5">
                                            <p class="mb-2 text-sm uppercase text-slate-500 dark:text-zink-200"><h6>Payslip Details</h6></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Total Gross Income: <span class="font-semibold">{{payroll.total_salary|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Total Deductions: <span class="font-semibold">{{payroll.total_deduction|number_format(2, '.', ',')}}</span></p>
                                            <p class="mb-1 text-slate-500 dark:text-zinc-200">Net Pay: <span class="font-semibold"><b>{{payroll.net_salary|number_format(2, '.', ',')}}</b></span></p>
                                        </div>
                                        <div class="my-5 pl-5">
                                            <p class="mb-2 text-sm uppercase text-slate-500 dark:text-zink-200"><h6>Signature ____________________</h6></p>
                                        </div>
                                    </div>

                                    

                                    <div class="flex gap-5 px-4 py-3 text-sm border rounded-md md:items-center">
                                        <p><span class="font-bold"></span> I hereby acknowledge to have receive the sum as fullpayment of my service rendered.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
{% endblock %}
    
{% block javascripts %}
<style>
{# @media print {
    .grid {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr); /* Adjust for your layout */
        gap: 1rem;
    }

    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    .xl\:grid-cols-12 {
        grid-template-columns: repeat(12, 1fr) !important;
    }

    .xl\:col-span-12 {
        grid-column: span 12 / span 12 !important;
    }
} #}
</style>
<!-- App js -->
<script src="{{ asset('assets/js/app.js') }}"></script>
{# <script src="assets/js/app.js"></script> #}

{% endblock %}